/* = google font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
	font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
  background-color: #0d1117;
  color: #fff;
}
.page_content{}
.page_content .content{
    width: 20%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.page_content .content img{
    max-width: 100%;
    transform: rotate(-165deg);
    width: 70%;
}
.page_content .content h4{
    font-size: 50px;
    margin-top: 20px;
    font-weight: 800;
    margin-bottom: 0;
    background-color: #f4ab3a;
    display: inline-block;
    padding: 5px 20px;  
}
.page_content .content p{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px 20px;
}